*.o
*.so
*.a
*~
Makefile
deps.make
.build
locale
version.c
users
uudecode
serve-control
new-client
newrevinfo
ej-batch
ej-compile
ej-compile-control
ej-contests
ej-contests-control
ej-convert-clars
ej-convert-runs
ej-fix-db
ej-import-contest
ej-jobs
ej-jobs-control
ej-ncheck
ej-normalize
ej-nwrun
ej-page-gen
ej-polygon
ej-run
ej-serve
ej-super-run
ej-super-run-control
ej-super-server
ej-super-server-control
ej-users
ej-users-control
ejudge-config
ejudge-config.v
ejudge-configure-compilers
ejudge-contests-cmd
ejudge-control
ejudge-edit-users
ejudge-execute
ejudge-jobs-cmd
ejudge-setup
ejudge.po
cdeps
config.h
config.log
config.status
csp_header.make
filter_expr.c
filter_expr.h
filter_scan.c
genmatcher
/Makefile.in
autom4te.cache
struct-sizes
ej-parblock
ej-suid-exec
ej-suid-chown
ej-suid-kill
ej-suid-ipcrm
