::selection {background: #328efe; color:#fff;}
::-moz-selection {background: #328efe; color:#fff;}
::-webkit-selection {background: #328efe; color:#fff;}

body 
{
    font-family: "Arial","Lucida Grande","Verdana","Sans-Serif";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 12px;
    color: black;
	text-align: left;
}

p
{
    font-size: 16px;
}

li
{
    font-size: 16px;
}

tt
{
    font-size: 16px;
}

h2 {
	margin-top: 1.4em;
}

h3
{
    font-size: 18px;
}

a {
	color: rgb(25, 88, 33);
}

a:hover {
	color: rgb(25, 87, 136);
}

a:visited {
	color: black;
}

/************* GENERAL CLASSES ***************/
.ib {
	display: inline-block !important;
}

.pt-15 {
	padding-top: 15px;
}

.clear-b {
	clear: both;
}

.mt-0 {
	margin-top: 0 !important;
}

.mt-20 {
	margin-top: 20px !important;
}

.margin-top-25 {
	margin-top: -25px;
}

.mw-600 {
	min-width: 600px;
}

.red {
	background: rgba(180, 52, 52, 0.50) !important;
	border: 1px solid rgb(167, 102, 102) !important;
}

.red:hover {
	background: rgba(177, 9, 9, 0.57) !important;
}

/************* LAYOUT ***************/

body {
	background: url("grad_grey_d.jpg") repeat-x #555555;
}

#main-cont {
	padding: 15px 0;
	display: inline-block;
	min-width: 100%;
}

#container {
	margin: 0 45px;
	width: auto;
	min-width: 950px;
	box-shadow: rgba(104, 104, 104, 1) 0px 0px 70px 5px;
	border: 1px solid #696969;
	background: rgb(253,253,253); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(253,253,253,1) 32%, rgba(225,223,223,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(32%,rgba(253,253,253,1)), color-stop(100%,rgba(225,223,223,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(253,253,253,1) 32%,rgba(225,223,223,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(253,253,253,1) 32%,rgba(225,223,223,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(253,253,253,1) 32%,rgba(225,223,223,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(253,253,253,1) 32%,rgba(225,223,223,1) 100%); /* W3C */
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 20px;
	position: inherit;
}

#header {
	background: rgb(195,195,195); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(195,195,195,1) 0%, rgba(207,207,207,1) 15%, rgba(232,232,232,1) 32%, rgba(248,248,248,1) 48%, rgba(246,246,246,1) 55%, rgba(238,238,238,1) 64%, rgba(214,214,214,1) 83%, rgba(196,196,196,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(195,195,195,1)), color-stop(15%,rgba(207,207,207,1)), color-stop(32%,rgba(232,232,232,1)), color-stop(48%,rgba(248,248,248,1)), color-stop(55%,rgba(246,246,246,1)), color-stop(64%,rgba(238,238,238,1)), color-stop(83%,rgba(214,214,214,1)), color-stop(100%,rgba(196,196,196,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(195,195,195,1) 0%,rgba(207,207,207,1) 15%,rgba(232,232,232,1) 32%,rgba(248,248,248,1) 48%,rgba(246,246,246,1) 55%,rgba(238,238,238,1) 64%,rgba(214,214,214,1) 83%,rgba(196,196,196,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(195,195,195,1) 0%,rgba(207,207,207,1) 15%,rgba(232,232,232,1) 32%,rgba(248,248,248,1) 48%,rgba(246,246,246,1) 55%,rgba(238,238,238,1) 64%,rgba(214,214,214,1) 83%,rgba(196,196,196,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(195,195,195,1) 0%,rgba(207,207,207,1) 15%,rgba(232,232,232,1) 32%,rgba(248,248,248,1) 48%,rgba(246,246,246,1) 55%,rgba(238,238,238,1) 64%,rgba(214,214,214,1) 83%,rgba(196,196,196,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(195,195,195,1) 0%,rgba(207,207,207,1) 15%,rgba(232,232,232,1) 32%,rgba(248,248,248,1) 48%,rgba(246,246,246,1) 55%,rgba(238,238,238,1) 64%,rgba(214,214,214,1) 83%,rgba(196,196,196,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3c3c3', endColorstr='#c4c4c4',GradientType=0 ); /* IE6-9 */
	height: 100px;
	padding: 10px 15px;
	padding-left: 145px;
}

#logo {
	display: inline;
	margin-left: -120px;
}

#header h1 {
	display: inline;
	position: relative;
	top: -70px;
	left: 15px;
	text-shadow: rgba(146, 146, 146, 0.6) 0px 4px 8px;
	font-size: 22px;
}

/************* MENU ***************/
#main-menu {
	background: #6d9fcf; /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(225,232,234,1) 0%, rgba(80,151,195,1) 5%, rgba(98,181,247,1) 40%, rgba(101,184,254,1) 56%, rgba(81,154,197,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(225,232,234,1)), color-stop(5%,rgba(80,151,195,1)), color-stop(40%,rgba(98,181,247,1)), color-stop(56%,rgba(101,184,254,1)), color-stop(100%,rgba(81,154,197,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(225,232,234,1) 0%,rgba(80,151,195,1) 5%,rgba(98,181,247,1) 40%,rgba(101,184,254,1) 56%,rgba(81,154,197,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(225,232,234,1) 0%,rgba(80,151,195,1) 5%,rgba(98,181,247,1) 40%,rgba(101,184,254,1) 56%,rgba(81,154,197,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(225,232,234,1) 0%,rgba(80,151,195,1) 5%,rgba(98,181,247,1) 40%,rgba(101,184,254,1) 56%,rgba(81,154,197,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(225,232,234,1) 0%,rgba(80,151,195,1) 5%,rgba(98,181,247,1) 40%,rgba(101,184,254,1) 56%,rgba(81,154,197,1) 100%); /* W3C */
	/* margin-left: 125px; */
	margin-right: 15px;
	box-shadow:  rgb(179, 189, 196) 0 5px 8px 1px;
	border: 1px solid rgba(66, 144, 163, 0.68);
	border-bottom: rgb(58, 122, 138) 1px solid;
	min-width: 700px;
	position: absolute;
	height: 22px;
	top: 105px;
}

#main-menu ul {	
	margin: 0;
	display: inline-block;
}

#main-menu ul li {
	list-style: none;
	display: inline-block;	
}

#main-menu ul li a, #main-menu ul li.active  {
	text-decoration: none;
	padding: 3px 25px 0 25px;
	font-weight: bold;
	font-size: 14px;
	height: 19px;
	display: inline-block; 
	margin-left: -3px;
	color: rgb(0, 14, 0);
	text-shadow: rgb(181, 228, 233) 0px 0px 4px;
}

#main-menu ul li a.current, #main-menu ul li.active {
	background: url("g_bl_light1.jpg") repeat-x center !important;
	border-left: 1px solid rgb(74, 121, 160);
	border-right: 1px solid rgb(155, 194, 226);
	box-shadow: inset -1px -2px 6px 1px rgba(4, 65, 94, 0.27)
}

#main-menu ul li a:hover {
	background-color: rgba(0, 0, 0, 0.15);
}

#logout {
	display: inline-block;
	float: right;
}

#logout a {
	text-decoration: none;
	font-weight: bold;
	padding: 0 16px;
	padding-top: 2px;
	font-size: 14px;
	color: rgb(0, 14, 0); 
	height: 20px;
	display: inline-block;
	text-shadow: rgb(181, 228, 233) 0px 0px 4px;
}

#logout a:hover {
	background-color: rgba(0, 0, 0, 0.15);
}

#menu-2 {
	background:  url("grad_gr_darker.jpg") repeat-x;
	color: rgb(0, 14, 0);
	border-bottom: 1px solid #3a7a39;
	border-top: 1px solid #389532;
	text-shadow: rgb(208, 238, 205) 0px 0px 4px;
	padding: 2px 0px;
	box-shadow: rgba(136, 135, 135, 0.36) 0px 5px 5px 1px;
	margin: 30px -25px 25px -25px;
	height: 18px;
}

#menu-2 ul {	
	margin-top: -2px;
	margin-left: -15px;
	display: inline-block;
}

#menu-2 ul li {
	list-style: none;
	display: inline-block;
}
#menu-2 ul li a {
	text-decoration: none;
	padding: 3px 20px 0 20px;
	color: rgb(0, 14, 0);
	text-shadow: rgb(208, 238, 205) 0px 0px 4px;
	font-weight: bold;
	font-size: 15px;
	height: 19px;
	display: inline-block; 
	margin-left: -3px;
}

#menu-2 ul li a.current {
	background: #96D083;
	background: url("grad_green_long.jpg") repeat-x center !important; 
	box-shadow: inset rgba(76, 111, 77, 1) 2px 3px 10px;
	border-right: 1px solid rgba(126, 201, 124, 0.87);
	border-left: 1px solid #3a7a39;
	margin-top: -1px;
	border-top: 1px solid rgba(82, 99, 82, 0.89);
}

#menu-2 ul li a:hover {
	background-color: rgba(0, 0, 0, 0.15);
}

/************* INSIDE ***************/
.h2-long h2 {
	padding: 2px 70px 2px 30px;
	font-size: 15px;
	background: url("grad_gr_darker.jpg") repeat-x;
	color: rgb(0, 14, 0);
	display: inline;
	border-right: 1px solid rgb(97, 143, 86);
}

.h2-long  {
	background: url("grad_green_long.jpg") repeat-x;
	color: rgb(0, 14, 0);
	border-bottom: 1px solid #3a7a39;
	border-top: 1px solid #389532;
	text-shadow: rgb(208, 238, 205) 0px 0px 4px;
	padding: 2px 0px;
	box-shadow: rgba(136, 135, 135, 0.36) 0px 5px 5px 1px;
	margin: 30px -25px 25px -25px;
	height: 18px;
}

.icons, .icons-1 {
	margin: -25px -25px -33px -25px; 
	padding: 0;
	overflow: hidden;
}

.icons-1 {
	margin: 0 -25px;
	border-top: 1px solid rgb(168, 168, 168);
	box-shadow: inset rgba(170, 164, 164, 0.36) 0px 5px 5px 1px;
}

.icons a, .icons-1 a {
	margin-left: -4px;
	display: inline-block;
	border-left: 1px dotted rgb(206, 206, 206);
}

.icons img, .icons-1 img {
	border: none;
	height: 45px;
	padding: 2px 13px;
	padding: 6px 13px; /* ??? ?????? ??? ????*/
	padding: 6px 9px; /* ??? ?????? ? ?????*/
	/* box-shadow: inset 3px 1px 10px 3px rgb(230, 230, 230); */
	/* box-shadow: 4px 0px 10px 1px rgb(226, 226, 226); */
}

.icons a:hover , .icons-1 a:hover {
	background: rgba(162, 162, 162, 0.2);
}

.icons a:last-child, .icons-1 a:last-child {
	padding-right: 10px;
}

.icons a:first-child, .icons-1 a:first-child {
	border-left: none;
}

.icons-menu-txt {
	margin-top: 20px;
}

.icons-menu-txt a {
	padding: 0 5px;
}

.icons-menu-txt a:first-child {
	border-left: 1px dotted rgb(206, 206, 206);
}

table {
	font-size: 15px;
}

.ejudge_copyright {
	font-size: 12px;
	margin: 3px 0px
}

/**************** USERPIC ******************/

.userpic img, .userpic-img {
	width: 90px;
	height: 90px;
	margin: 1px;
	border: 4px solid #fdfdfd;
	box-shadow: #c0c0c0 0 0 0 1px;
	vertical-align: middle;
}

.userpic-img {
    margin: 7px 0 3px 0;
	display: block;
	box-shadow: #dcdcdc 0 0 0 1px;
}

.userpic-img-left {
	float: left;
	margin: 0 15px 15px 0;
}

/**************** TABLES ******************/

.table, .table-info, .info-table {
	margin: 20px 0;
	border-collapse: collapse;
	box-shadow: rgb(209, 209, 209) 0px 0px 20px 3px;
	background: rgba(255, 255, 255, 0.37);
}

.table th, .table td, .table-info th, .table-info td {
	padding: 3px 7px; 
}

.table th {
	background: rgb(185,211,232); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(185,211,232,1) 0%, rgba(118,178,228,1) 4%, rgba(122,184,234,1) 33%, rgba(106,154,201,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(185,211,232,1)), color-stop(4%,rgba(118,178,228,1)), color-stop(33%,rgba(122,184,234,1)), color-stop(100%,rgba(106,154,201,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(185,211,232,1) 0%,rgba(118,178,228,1) 4%,rgba(122,184,234,1) 33%,rgba(106,154,201,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(185,211,232,1) 0%,rgba(118,178,228,1) 4%,rgba(122,184,234,1) 33%,rgba(106,154,201,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(185,211,232,1) 0%,rgba(118,178,228,1) 4%,rgba(122,184,234,1) 33%,rgba(106,154,201,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(185,211,232,1) 0%,rgba(118,178,228,1) 4%,rgba(122,184,234,1) 33%,rgba(106,154,201,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9d3e8', endColorstr='#6a9ac9',GradientType=0 ); /* IE6-9 */
	color: rgb(16, 35, 63);
	border: 1px solid rgb(56, 120, 189);
}

.table td{
	border: 1px solid rgb(151, 151, 151);
	background: rgba(255, 255, 255, 0.36);
	padding-top: 4px;
	padding-bottom: 4px;
}

.closed {
	background: rgb(174,174,174); /* Old browsers */
}

.table-info td, .info-table td {
	padding-top: 7px;
	padding-bottom: 10px;
}

.table-info tr, .info-table tr{
	border-bottom: 1px solid rgb(199, 199, 199);
}

.table-info tr:last-child, .info-table tr:last-child  {
	border-bottom: transparent;
}

.info-table, .table-compressed {
	box-shadow: rgba(209, 209, 209, 0.35) 0px 2px 3px 2px;
}

.info-table th, .info-table td  {
	padding: 3px 10px;
}

.info-table td {
	border: 1px solid rgba(191, 191, 191, 0.53);
	background: rgba(255, 255, 255, 0.49);
	padding-top: 4px;
	padding-bottom: 4px;
}

.mw-600.info-table td:first-child {
	width: 20%;
}

.table-vert td {
	vertical-align: top;
}

.width-100 {
	margin-right: -25px;
	margin-left: -25px;
}

.message-table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: -1px;
}

.message-table td {
	padding: 5px 10px 5px 30px;
	border: 1px solid rgb(154, 154, 154);
	border-left: none;
	border-right: none;
	font-size: 14px;
}

.message-table .mes-top td {
	border-right: 1px solid rgb(128, 128, 128);
	border-bottom: 1px solid rgb(128, 128, 128);
	border-top: 1px solid rgb(134, 134, 134);
	box-shadow: inset rgb(199, 199, 199) 0 1px 0;
	font-size: 12px;
	font-weight: bold;
	text-shadow: rgb(186, 186, 186) 0px 1px 0px;
	background: rgb(184,184,184); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(184,184,184,1) 1%, rgba(157,157,157,1) 92%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(184,184,184,1)), color-stop(92%,rgba(157,157,157,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(184,184,184,1) 1%,rgba(157,157,157,1) 92%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(184,184,184,1) 1%,rgba(157,157,157,1) 92%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(184,184,184,1) 1%,rgba(157,157,157,1) 92%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(184,184,184,1) 1%,rgba(157,157,157,1) 92%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8b8b8', endColorstr='#9d9d9d',GradientType=0 ); /* IE6-9 */
}

.message-table .mes-top td:last-child {
	border-right: none;
}

.message-table .profile {
	border-right: 1px solid rgb(154, 154, 154);
	font-size: 12px;
	vertical-align: top;
	width: 150px;
}

.message-table .profile b {
	font-size: 15px;
	margin-bottom: 7px;
	margin-top: 1em;
	display: inline-block;
}

#footer {
	margin-bottom: 20px;
}

hr, #header {
	margin-left: -25px;
	margin-right: -25px;
}

.table-b1 .b1 {
	padding: 3px;
}

.table-filter {
	margin-top: 20px;
}

.table-users th, .table-users th.b1 {
	background: #b5b5b5;
	text-align: center;
	padding: 4px 5px;
	border: 1px solid #616161;
}

.table-users tr {
	background: #eaeaea;
}

.table-users tr:nth-child(odd) {
	background: #dadada;
}

.table-users td, .table-users td.b1 {
	padding: 3px 5px;
	text-align: center;
	border: 1px solid #828282;
}

.t-left th, .t-left th.b1, .t-left td, .t-left td.b1 {
	text-align: left;
	padding: 5px 10px;
}

.table-compressed th, .table-compressed td {
	border: 1px solid rgba(191, 191, 191, 0.53);
    padding: 2px 6px;
    background: rgba(255, 255, 255, 0.49);
}

.table-compressed th {
	background: -moz-linear-gradient(top, rgba(185,211,232,1) 0%, rgba(118,178,228,0.78) 4%, rgba(122,184,234,0.78) 33%, rgba(106,154,201,0.68) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(185,211,232,1) 0%,rgba(118,178,228,0.78) 4%,rgba(122,184,234,0.78) 33%,rgba(106,154,201,0.68) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(185,211,232,1) 0%,rgba(118,178,228,0.78) 4%,rgba(122,184,234,0.78) 33%,rgba(106,154,201,0.68) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9d3e8', endColorstr='#c76a9ac9',GradientType=0 ); /* IE6-9 */
	border-color: rgba(89, 148, 207, 0.83);
}

/**************** FRAME *************************/
.frame {
	margin-top: 10px;
	padding: 15px;
	border: 1px solid rgba(152, 152, 152, 0.45);
	display: inline-block;
	background: rgba(255, 255, 255, 0.60);
	box-shadow: rgba(149, 149, 149, 0.2) 0px 2px 12px 5px;
}

/************* VIEW SOURCE ************************/
#info-brief .table-scroll{
	overflow: auto;
	width: 100%;	
	background: none;
}

.table-scroll .table {
	margin: 0;
	box-shadow: none;
	font-size: 14px;
}

#info-brief .table td  {
	padding: 3px 5px;
}

#brief-actions {
	margin-top: 3px;
	margin-bottom: -13px;
}

#brief-actions form {
	display: inline-block;
	margin-left: 35px;
}

#prog {
	/* float: left;
	width: 60%; */
	background: white;
	/* overflow: auto;
	height: 300px; */
}

/* #output {
	float: right;
	width: 40%;
	overflow: auto;
	height: 300px;
	margin: 0;
	margin-right: -15px;
} */

#msg_text {
	width: 95%;
	height: 100px;
}

input {
	font-size: 13px;
	padding: 1px 6px;
}

/**************** BUTTONS ***************/

.buttons input {
	margin-bottom: 3px;
}

.a-button-style {
	background: rgb(247,247,247); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(247,247,247,1) 0%, rgba(221,221,221,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(221,221,221,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(221,221,221,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(247,247,247,1) 0%,rgba(221,221,221,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
	font-family: "Verdana", "Arial";
	font-size: 13px;
	padding: 2px 6px 2px 6px;
	text-align: center;
	text-decoration: none;
	color: buttontext;
	display: inline-block;
	border: 1px solid #929292;
	background-clip: border-box;
	font: -webkit-small-control;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	min-height: 16px;
	border-radius: 2px;
}

input[type="button"], input[type="submit"], input[type="reset"], button {
	background: rgb(247,247,247); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(247,247,247,1) 0%, rgba(221,221,221,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(221,221,221,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(221,221,221,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(247,247,247,1) 0%,rgba(221,221,221,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
	font-family: "Verdana", "Arial";
	font-size: 13px;
	padding: 1px 6px 1px 6px;
	border: 1px solid #929292;
	border-radius: 2px;
	margin: 2px;
	display: inline-block;
	background-clip: border-box;
	font: -webkit-small-control;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	height: 22px;
}

.a-button-style:hover, .a-button-style:visited {
	color: black;
}

.a-button-style:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:hover {
	border: 1px solid #737373;
	background: rgb(244,244,244); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(244,244,244,1) 0%, rgba(208,208,208,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,244,1)), color-stop(100%,rgba(208,208,208,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(208,208,208,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(208,208,208,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(208,208,208,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(244,244,244,1) 0%,rgba(208,208,208,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#d0d0d0',GradientType=0 ); /* IE6-9 */
}

td.a-button-style, td.a-button-style:hover {
	background: rgb(172, 172, 172);
	border: 1px solid rgb(172, 172, 172);
	text-shadow: rgb(194, 194, 194) 0 1px;
}

/*************** MENU-INSIDE **********************/
#menu-inside, #menu-inside-green {
	background: url("grad_green_long.jpg") repeat-x;
	color: rgb(0, 14, 0);
	border-bottom: 1px solid #3a7a39;
	border-top: 1px solid #389532;
	text-shadow: rgb(208, 238, 205) 0px 0px 4px;
	padding: 2px 0px;
	box-shadow: rgba(136, 135, 135, 0.36) 0px 5px 5px 1px;
	margin: 0px -25px 25px -25px;
	height: 18px;
}

#menu-inside-green {
	padding-left: 25px;
}

#menu-inside li, #menu-inside-green li {
	list-style: none;
	display: inline-block;
	font-size: 15px;
}

#menu-inside li a, #menu-inside-green li a {
	text-decoration: none;
	padding: 2px 15px 3px 15px;
	font-weight: bold;	
	font-size: 15px;
	color: black !important;
}

#menu-inside li a.current, #menu-inside-green li a.current {
	padding: 2px 15px;
	background: url("grad_gr_darker.jpg") repeat-x;
	color: rgb(0, 14, 0);
	display: inline;
	border-right: 1px solid rgb(97, 143, 86);
	border-left: 1px solid rgb(97, 143, 86);
}

#menu-inside li a:hover, #menu-inside-green li a:hover {
	background-color: rgba(0, 0, 0, 0.15);
}

#menu-inside-green ul {
    display: none;
	position: absolute;
}

#menu-inside-green li:hover ul {
    display: block;
}

#menu-inside-green li ul {
	margin: 0;
	margin-top: 3px;
	padding: 0;
	background: #3e3e3e;
}

#menu-inside-green li ul li {
	margin: 0;
	padding: 0;
	text-shadow: none;
	display: inline-block;
	box-shadow: inset rgba(0, 0, 0, 0.08) 0 2px 20px;
}

#menu-inside-green li ul li  a{
	font-weight: normal;
	padding: 8px 0 9px 15px;
	color: rgb(205, 205, 205)!important;
	width: 210px;
	font-size: 13px;
	display: block;
	border-bottom: 1px solid rgba(102, 102, 102, 0.72);
}

.table-14 {
	margin-top: 7px;
	border-collapse: collapse;
}

.table-14 td, .table-14 td.b0 {
	font-size: 14px;
	padding: 1px 10px 0 0;
	border: none;
}

/************* UI-WIDGET ***************/

.ui-front, .ui-jqdialog {
	box-shadow: rgba(102, 102, 102, 0.61) 0 0 15px 1px; 
}

.ui-widget-header {
	background: rgb(95, 151, 203) !important;
}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	color: rgb(16, 35, 63) !important;
	background: rgb(185,211,232) !important; /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(185,211,232,1) 0%, rgba(118,178,228,1) 4%, rgba(122,184,234,1) 33%, rgba(102,155,207,1) 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(185,211,232,1)), color-stop(4%,rgba(118,178,228,1)), color-stop(33%,rgba(122,184,234,1)), color-stop(100%,rgba(102,155,207,1))) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(185,211,232,1) 0%,rgba(118,178,228,1) 4%,rgba(122,184,234,1) 33%,rgba(102,155,207,1) 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(185,211,232,1) 0%,rgba(118,178,228,1) 4%,rgba(122,184,234,1) 33%,rgba(102,155,207,1) 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(185,211,232,1) 0%,rgba(118,178,228,1) 4%,rgba(122,184,234,1) 33%,rgba(102,155,207,1) 100%) !important; /* IE10+ */
	background: linear-gradient(to bottom,  rgba(185,211,232,1) 0%,rgba(118,178,228,1) 4%,rgba(122,184,234,1) 33%,rgba(102,155,207,1) 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9d3e8', endColorstr='#669bcf',GradientType=0 ) !important; /* IE6-9 */
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border-color: rgb(56, 120, 189) !important;
}

.ui-jqgrid .ui-pg-selbox {
	height: 22px !important;
}

.ui-jqgrid .ui-jqgrid-pager .ui-pager-control {
	height: 33px !important;
}

.ui-widget-content  td{
	border-color: rgb(171, 171, 171) !important;
}

.ui-widget {
	border: 1px solid #CBCBCB !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	background: #CCE5CC !important;
	color: #41422F !important;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	background: #B5D3EF !important;
}

.ui-state-hover td {
	color: #195083 !important;
}

.fm-button {
	padding-top: .3em !important;
	border-radius: 2px !important;
}

#jqContextMenu ul {
	width: 150px !important;
}

.ui-dialog-content fieldset, .ui-widget-content fieldset {
	border: none;
}

.ui-dialog-content select, .ui-widget-content select {
	max-width: 530px !important;
}

.ui-dialog-content select, .ui-widget-content select, .ui-dialog-content input[type=text], .ui-dialog-content label, .ui-search-table input[type=text] {
	margin: 2px 0 !important;
}	

.ui-dialog-content select, .ui-widget-content select, .ui-dialog-content input[type=text], .ui-search-table input[type=text]	{
	border: 1px solid rgb(154, 154, 154) !important;
	border-radius: 0 !important;
}

.ui-pager-control select {
	border: none !important;
	border-radius: 5px !important;
}

.ui-dialog-titlebar {
	border-radius: 2px 2px 0 0 !important;
	padding: 0 5px !important;
}

.ui-dialog-content label {
	min-width: 109px;
	display: inline-block;
}

.ui-button {
	font-family: "Verdana", "Arial" !important;
	padding: .3em .6em .3em .6em !important;
	border: 1px solid #929292 !important;
	border-radius: 2px !important;
	margin: 2px !important;
	display: inline-block !important;
	background-clip: border-box !important;
	font: -webkit-small-control !important;
	letter-spacing: normal !important;
	word-spacing: normal !important;
	text-transform: none !important;
	text-indent: 0px !important;
	text-shadow: none !important;
	font-size: 15px !important;
	height: 28px !important;
}

.ui-dialog-buttonpane {
	border-top: none !important;
	padding: 4px 10px !important;
}

.ui-dialog-titlebar {
	overflow: auto !important;
}

.ui-dialog-titlebar  .ui-dialog-title {
	display: inline-block !important;
	margin-top: 5px !important;
}

.ui-dialog-titlebar .ui-button {
	margin-left: 5px !important;
	float: right !important;
	font-size: 1.1em !important;
	padding-top: 2px !important;
	padding-left: 3px !important;
	height: 23px !important;
}

.ui-widget-content {
	border-color: #B6B6B6 !important;
}

.ui-widget-content .ui-widget-content {
	border-left: none;
	border-right: none;
}

.ui-search-table {
	border: none !important;
}

/************* UI-ACCORDION ***************/

.ui-accordion.ui-widget {
	padding: 0 5px 3px 5px;
	margin: 0 -2px;
	border: none !important;
}

.ui-accordion-header {
	padding: 7px 3px;
	margin: 3px 0 0 0;
	font-size: 16px;
	border-radius: 2px 2px 0 0 !important;
}

.ui-accordion-header .ui-icon {
	margin-right: 3px;
}

.ui-accordion-header-active {
	outline: none;
}

.ui-accordion-header.ui-state-hover, .ui-accordion-header.ui-state-active {
	border: 1px solid rgb(117, 147, 176) !important;
}

.ui-accordion-content.ui-widget-content {
	background: none;
	border-top: none !important;
}

.ui-accordion-content table {
	min-width: 1000px;
}

.ui-accordion-content table td {
	padding-left: 5px;
	padding-right: 5px;
}

#TimingDialogDiv label{
	min-width: 180px;
}

#RegistrationDialogDiv label{
	width: 220px;
}

#RegistrationDialogDiv input {
	max-width: 330px;
	vertical-align: top;
}

#UrlDialogDiv label {
	width: 205px;
}

 #UrlDialogDiv input, #AdvancedDialogDiv input  {
	max-width: 345px;
	vertical-align: top;
}

#AdvancedDialogDiv label {
	width: 205px;
}

#HeadersDialogDiv label, #NotificationsDialogDiv label {
	width: 300px;
	margin-top: 6px !important;
	margin-bottom: 1px !important;
}

/************* UI-DATEPICKER Changes ***************/

.ui-datepicker-header {
	border-radius: 2px !important;
}

.ui-datepicker-calendar .ui-state-default {
	border-color: rgb(119, 155, 186) !important;
	background: rgb(212, 228, 240) !important;
}

.ui-datepicker-calendar .ui-state-hover, .ui-datepicker-calendar .ui-state-active  {
	background: rgb(234, 242, 249) !important;
}

.ui-dialog-titlebar-close span.ui-button-text {
	position: relative;
	bottom: 2px;
	left: 2px;
	display: inline-block;
}

.ui-datepicker-buttonpane button {
	border-radius: 2px !important;
}

.ui-icon {
  display: inline-block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

/************* UI-DATEPICKER ***************/

input.ui-button::-moz-focus-inner,
button.ui-button::-moz-focus-inner {
	border: 0;
	padding: 0;
}
.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 45%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}

