::selection {background: #328efe; color:#fff;}
::-moz-selection {background: #328efe; color:#fff;}
::-webkit-selection {background: #328efe; color:#fff;}

* {
	margin: 0; padding: 0;
}

body {
	padding: 0 15px;
}

a {
	color: rgb(25, 88, 33);
}

a:hover {
	color: rgb(25, 87, 136);
}

a:visited {
	color: black;
}	

input {
	font-size: 13px;
	padding: 3px 5px;
}

input[type=file] {
	padding-left: 0;
}

h2 {
	margin: 25px 0 15px 0;
}

h4 {
	color: #555555;
}

#l13 table {
	margin-bottom: 20px;
}

.m-25 {
	margin-left: 25px !important;
	margin-right: 25px !important;
}

.mb-m1 {
	margin-bottom: -1px !important;
}

body {
	background: url("grad_grey_d.jpg") repeat-x #555555;
}

#main-cont {
	padding: 15px 0;
	display: inline-block;
	min-width: 100%;	
}

#container {
	position: relative;
	display: block;
	margin: 0 30px;
	width: auto;
	min-width: 1100px;
	box-shadow: rgba(104, 104, 104, 1) 0px 0px 70px 5px;
	border: 1px solid #696969;
	background: rgb(253,253,253); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(253,253,253,1) 32%, rgba(225,223,223,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(32%,rgba(253,253,253,1)), color-stop(100%,rgba(225,223,223,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(253,253,253,1) 32%,rgba(225,223,223,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(253,253,253,1) 32%,rgba(225,223,223,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(253,253,253,1) 32%,rgba(225,223,223,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(253,253,253,1) 32%,rgba(225,223,223,1) 100%); /* W3C */
}

div.user_actions, div.contest_actions /* top menu line */{
	background: #6d9fcf; /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(225,232,234,1) 0%, rgba(80,151,195,1) 5%, rgba(98,181,247,1) 40%, rgba(101,184,254,1) 56%, rgba(81,154,197,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(225,232,234,1)), color-stop(5%,rgba(80,151,195,1)), color-stop(40%,rgba(98,181,247,1)), color-stop(56%,rgba(101,184,254,1)), color-stop(100%,rgba(81,154,197,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(225,232,234,1) 0%,rgba(80,151,195,1) 5%,rgba(98,181,247,1) 40%,rgba(101,184,254,1) 56%,rgba(81,154,197,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(225,232,234,1) 0%,rgba(80,151,195,1) 5%,rgba(98,181,247,1) 40%,rgba(101,184,254,1) 56%,rgba(81,154,197,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(225,232,234,1) 0%,rgba(80,151,195,1) 5%,rgba(98,181,247,1) 40%,rgba(101,184,254,1) 56%,rgba(81,154,197,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(225,232,234,1) 0%,rgba(80,151,195,1) 5%,rgba(98,181,247,1) 40%,rgba(101,184,254,1) 56%,rgba(81,154,197,1) 100%); /* W3C */
	margin-left: 125px;
	margin-right: 15px;
	box-shadow:  rgb(179, 189, 196) 0 5px 8px 1px;
	border: 1px solid rgba(66, 144, 163, 0.68);
	border-bottom: rgb(58, 122, 138) 1px solid;
	width: 700px;
}

table.menu {
	margin-left: 5px;
}

div.user_actions /* bottom menu line */ {
	margin-top: 12px;
}

#l11 {
	background: none;
	top: 15px;
	padding: 0 10px;
}

.l14 {
	padding: 0 20px 10px 20px;
}

.width-100 {
	margin-right: -20px;
	margin-left: -20px;
}

.l14 hr {
	margin-right: -20px;
	margin-left: -20px;
}

#l12-col {
	height: 127px;
	background: rgb(195,195,195); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(195,195,195,1) 0%, rgba(207,207,207,1) 15%, rgba(232,232,232,1) 32%, rgba(248,248,248,1) 48%, rgba(246,246,246,1) 55%, rgba(238,238,238,1) 64%, rgba(214,214,214,1) 83%, rgba(196,196,196,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(195,195,195,1)), color-stop(15%,rgba(207,207,207,1)), color-stop(32%,rgba(232,232,232,1)), color-stop(48%,rgba(248,248,248,1)), color-stop(55%,rgba(246,246,246,1)), color-stop(64%,rgba(238,238,238,1)), color-stop(83%,rgba(214,214,214,1)), color-stop(100%,rgba(196,196,196,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(195,195,195,1) 0%,rgba(207,207,207,1) 15%,rgba(232,232,232,1) 32%,rgba(248,248,248,1) 48%,rgba(246,246,246,1) 55%,rgba(238,238,238,1) 64%,rgba(214,214,214,1) 83%,rgba(196,196,196,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(195,195,195,1) 0%,rgba(207,207,207,1) 15%,rgba(232,232,232,1) 32%,rgba(248,248,248,1) 48%,rgba(246,246,246,1) 55%,rgba(238,238,238,1) 64%,rgba(214,214,214,1) 83%,rgba(196,196,196,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(195,195,195,1) 0%,rgba(207,207,207,1) 15%,rgba(232,232,232,1) 32%,rgba(248,248,248,1) 48%,rgba(246,246,246,1) 55%,rgba(238,238,238,1) 64%,rgba(214,214,214,1) 83%,rgba(196,196,196,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(195,195,195,1) 0%,rgba(207,207,207,1) 15%,rgba(232,232,232,1) 32%,rgba(248,248,248,1) 48%,rgba(246,246,246,1) 55%,rgba(238,238,238,1) 64%,rgba(214,214,214,1) 83%,rgba(196,196,196,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3c3c3', endColorstr='#c4c4c4',GradientType=0 ); /* IE6-9 */
	margin-top: -5px;
}

#l12 {
	position: relative;
	top: 25px;
	width: auto;
}

#l12 .main_phrase {
	text-shadow: rgba(146, 146, 146, 0.6) 0px 4px 8px;
	margin-bottom: 30px;
}

#l13 {
	position: relative;
	top: 0;
	width: auto;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
}

div.server_status_on {
	color: rgb(0, 14, 0);
	text-shadow: rgb(208, 238, 205) 0px 0px 4px;
	background: url("grad_green_long.jpg") repeat-x;
	color: rgb(0, 14, 0);
	border-bottom: 1px solid #3a7a39;
	border-top: 1px solid #389532;
	padding: 4px 25px 0px 25px;
	margin: 0px -25px 15px -25px;
	height: 18px;
}

div.server_status_error{
	background: rgb(188,140,136); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(188,140,136,1) 0%, rgba(184,115,106,1) 5%, rgba(207,153,147,1) 38%, rgba(205,153,145,1) 52%, rgba(207,156,147,1) 67%, rgba(213,164,159,1) 90%, rgba(214,171,166,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(188,140,136,1)), color-stop(5%,rgba(184,115,106,1)), color-stop(38%,rgba(207,153,147,1)), color-stop(52%,rgba(205,153,145,1)), color-stop(67%,rgba(207,156,147,1)), color-stop(90%,rgba(213,164,159,1)), color-stop(100%,rgba(214,171,166,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(188,140,136,1) 0%,rgba(184,115,106,1) 5%,rgba(207,153,147,1) 38%,rgba(205,153,145,1) 52%,rgba(207,156,147,1) 67%,rgba(213,164,159,1) 90%,rgba(214,171,166,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(188,140,136,1) 0%,rgba(184,115,106,1) 5%,rgba(207,153,147,1) 38%,rgba(205,153,145,1) 52%,rgba(207,156,147,1) 67%,rgba(213,164,159,1) 90%,rgba(214,171,166,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(188,140,136,1) 0%,rgba(184,115,106,1) 5%,rgba(207,153,147,1) 38%,rgba(205,153,145,1) 52%,rgba(207,156,147,1) 67%,rgba(213,164,159,1) 90%,rgba(214,171,166,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(188,140,136,1) 0%,rgba(184,115,106,1) 5%,rgba(207,153,147,1) 38%,rgba(205,153,145,1) 52%,rgba(207,156,147,1) 67%,rgba(213,164,159,1) 90%,rgba(214,171,166,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc8c88', endColorstr='#d6aba6',GradientType=0 ); /* IE6-9 */
	color: rgb(99, 27, 27);
	text-shadow: rgb(221, 176, 176) 0px 1px 4px;
	border-top: 1px solid rgb(153, 92, 92);
	border-bottom: 1px solid rgb(165, 103, 103);
}

div.server_status_alarm {
	background: rgb(189,182,123); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(189,182,123,1) 0%, rgba(185,179,91,1) 5%, rgba(208,202,136,1) 38%, rgba(206,202,134,1) 52%, rgba(208,206,136,1) 67%, rgba(214,209,150,1) 90%, rgba(215,211,157,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(189,182,123,1)), color-stop(5%,rgba(185,179,91,1)), color-stop(38%,rgba(208,202,136,1)), color-stop(52%,rgba(206,202,134,1)), color-stop(67%,rgba(208,206,136,1)), color-stop(90%,rgba(214,209,150,1)), color-stop(100%,rgba(215,211,157,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(189,182,123,1) 0%,rgba(185,179,91,1) 5%,rgba(208,202,136,1) 38%,rgba(206,202,134,1) 52%,rgba(208,206,136,1) 67%,rgba(214,209,150,1) 90%,rgba(215,211,157,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(189,182,123,1) 0%,rgba(185,179,91,1) 5%,rgba(208,202,136,1) 38%,rgba(206,202,134,1) 52%,rgba(208,206,136,1) 67%,rgba(214,209,150,1) 90%,rgba(215,211,157,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(189,182,123,1) 0%,rgba(185,179,91,1) 5%,rgba(208,202,136,1) 38%,rgba(206,202,134,1) 52%,rgba(208,206,136,1) 67%,rgba(214,209,150,1) 90%,rgba(215,211,157,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(189,182,123,1) 0%,rgba(185,179,91,1) 5%,rgba(208,202,136,1) 38%,rgba(206,202,134,1) 52%,rgba(208,206,136,1) 67%,rgba(214,209,150,1) 90%,rgba(215,211,157,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdb67b', endColorstr='#d7d39d',GradientType=0 ); /* IE6-9 */
	text-shadow: rgb(252, 242, 193) 0px 1px 4px;
	color: rgb(68, 55, 37);
	border-top: 1px solid rgb(163, 148, 108);
	border-bottom: 1px solid rgb(163, 148, 108);
}

div.server_status_off {
	background: rgb(144,144,144); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(144,144,144,1) 0%, rgba(123,123,123,1) 5%, rgba(162,162,162,1) 38%, rgba(159,159,159,1) 52%, rgba(162,162,162,1) 67%, rgba(173,173,173,1) 90%, rgba(178,178,178,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(144,144,144,1)), color-stop(5%,rgba(123,123,123,1)), color-stop(38%,rgba(162,162,162,1)), color-stop(52%,rgba(159,159,159,1)), color-stop(67%,rgba(162,162,162,1)), color-stop(90%,rgba(173,173,173,1)), color-stop(100%,rgba(178,178,178,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(144,144,144,1) 0%,rgba(123,123,123,1) 5%,rgba(162,162,162,1) 38%,rgba(159,159,159,1) 52%,rgba(162,162,162,1) 67%,rgba(173,173,173,1) 90%,rgba(178,178,178,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(144,144,144,1) 0%,rgba(123,123,123,1) 5%,rgba(162,162,162,1) 38%,rgba(159,159,159,1) 52%,rgba(162,162,162,1) 67%,rgba(173,173,173,1) 90%,rgba(178,178,178,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(144,144,144,1) 0%,rgba(123,123,123,1) 5%,rgba(162,162,162,1) 38%,rgba(159,159,159,1) 52%,rgba(162,162,162,1) 67%,rgba(173,173,173,1) 90%,rgba(178,178,178,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(144,144,144,1) 0%,rgba(123,123,123,1) 5%,rgba(162,162,162,1) 38%,rgba(159,159,159,1) 52%,rgba(162,162,162,1) 67%,rgba(173,173,173,1) 90%,rgba(178,178,178,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#909090', endColorstr='#b2b2b2',GradientType=0 ); /* IE6-9 */
	text-shadow: rgb(177, 177, 177) 0px 1px 4px;
	border-top: 1px solid rgb(111, 111, 111);
	border-bottom: 1px solid rgb(111, 111, 111);
}

.h2-long {
	margin-top: 10px;
	margin-bottom: 25px;
}

.h2-long h2 {
	padding: 2px 70px 2px 30px;
	margin: 0 -20px 0 -20px;
	margin-top: 0;
	font-size: 15px;
	background: url("grad_gr_darker.jpg") repeat-x;
	color: rgb(0, 14, 0);
	display: inline;
	border-right: 1px solid rgb(97, 143, 86);
	border-radius: 0 10px 0px 0px;
	border-bottom: 1px solid #3a7a39;
	border-top: 1px solid #5F815C;
	text-shadow: rgb(208, 238, 205) 0px 0px 4px;
	box-shadow: rgba(136, 135, 135, 0.36) 0px 5px 5px 1px;
	background: url("grad_green_long.jpg") repeat-x;
	height: 18px;
}

div.server_status_error, div.server_status_alarm, div.server_status_off, div.server_status_on {
	margin-left: -25px;
	margin-right: -25px;
	margin-bottom: 25px;
	box-shadow: rgba(136, 135, 135, 0.36) 0px 5px 5px 1px;
}

#footer 1{
	background: url("grad_top1.jpg") repeat-x;
}

#footer {
	padding: 15px 10px 10px 10px;
}

 .user_actions input[type="text"], .user_actions input[type="password"]{
	width: 100px;
	padding: 1px 5px;
}

.user_actions input[type="submit"], .user_actions select {
	padding: 1px 5px;
}

div.user_actions_login_form {
	margin-bottom: -5px;
}

.user-action-lang {
	position: relative;
	top: 1px;
}

A.menu, .menu {
	padding: 0px 5px;
	color: rgb(16, 35, 63);
}

A.menu:hover /* menu link is highlighted when mouse is on */
{
    background-color: rgba(0, 0, 0, 0.15);
}

.contest_actions .menu {
	margin-left: 10px;
}

.frame{
	margin-top: 10px;
	padding: 15px;
	border: 1px solid rgba(152, 152, 152, 0.45);
	display: inline-block;
	background: rgba(255, 255, 255, 0.60);
	box-shadow: rgba(149, 149, 149, 0.2) 0px 2px 12px 5px;
}

/************* MENU ***************/
#main-menu {
	background: rgb(122, 184, 234); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(225,232,234,1) 0%, rgba(80,151,195,1) 5%, rgba(98,181,247,1) 40%, rgba(101,184,254,1) 56%, rgba(81,154,197,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(225,232,234,1)), color-stop(5%,rgba(80,151,195,1)), color-stop(40%,rgba(98,181,247,1)), color-stop(56%,rgba(101,184,254,1)), color-stop(100%,rgba(81,154,197,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(225,232,234,1) 0%,rgba(80,151,195,1) 5%,rgba(98,181,247,1) 40%,rgba(101,184,254,1) 56%,rgba(81,154,197,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(225,232,234,1) 0%,rgba(80,151,195,1) 5%,rgba(98,181,247,1) 40%,rgba(101,184,254,1) 56%,rgba(81,154,197,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(225,232,234,1) 0%,rgba(80,151,195,1) 5%,rgba(98,181,247,1) 40%,rgba(101,184,254,1) 56%,rgba(81,154,197,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(225,232,234,1) 0%,rgba(80,151,195,1) 5%,rgba(98,181,247,1) 40%,rgba(101,184,254,1) 56%,rgba(81,154,197,1) 100%); /* W3C */
	margin-left: 125px;
	margin-right: 15px;
	box-shadow:  rgb(179, 189, 196) 0 5px 8px 1px;
	border: 1px solid rgba(66, 144, 163, 0.68);
	border-bottom: rgb(58, 122, 138) 1px solid;
	min-width: 700px;
	height: 22px;
	display: table;
}

#main-menu ul {	
	margin: 0;
	display: inline-block;
	padding-left: 35px;
}

#main-menu ul li {
	list-style: none;
	display: inline-block;	
}

#main-menu ul li a, #main-menu ul li.active  {
	text-decoration: none;
	padding: 3px 25px 0 25px;
	font-weight: bold;
	font-size: 14px;
	height: 19px;
	display: inline-block; 
	margin-left: -3px;
	color: rgb(0, 14, 0);
	text-shadow: rgb(181, 228, 233) 0px 0px 4px;
}

#main-menu ul li a.current, #main-menu ul li.active {
	background: url("g_bl_light1.jpg") repeat-x center !important;
	border-left: 1px solid rgb(74, 121, 160);
	border-right: 1px solid rgb(155, 194, 226);
	box-shadow: inset -1px -2px 6px 1px rgba(4, 65, 94, 0.27)
}

#main-menu ul li a:hover {
	background-color: rgba(0, 0, 0, 0.15);
}

#logout {
	display: inline-block;
	float: right;
	margin-left: 30px;
}

#logout a {
	text-decoration: none;
	font-weight: bold;
	padding: 0 16px;
	padding-top: 2px;
	font-size: 13px;
	color: rgb(0, 14, 0); 
	height: 20px;
	display: inline-block;
	text-shadow: rgb(181, 228, 233) 0px 0px 4px;
}

#logout a:hover {
	background-color: rgba(0, 0, 0, 0.15);
}

#main-menu ul li .current, #main-menu ul li.current {
	background: url("g_bl_light1.jpg") repeat-x center !important;
	border-left: 1px solid rgb(74, 121, 160);
	border-right: 1px solid rgb(155, 194, 226);
	box-shadow: inset -1px -2px 6px 1px rgba(4, 65, 94, 0.27);
	text-decoration: none;
	padding: 3px 15px 0 15px;
	font-weight: bold;
	font-size: 14px;
	height: 19px;
	display: inline-block;
	margin-left: -3px;
	color: rgb(0, 14, 0);
	text-shadow: rgb(181, 228, 233) 0px 0px 4px;
}

div.contest_actions_item {
	font-size: 14px;
	font-weight: bold;
	color: rgb(0, 14, 0);
	text-shadow: rgb(181, 228, 233) 0px 0px 4px;
	padding-left: 3px;
	padding-right: 0;
}

/********************** PROBNAV *******************************/

#probNavTaskArea, #probNavTaskArea-ins {
	padding-top: 10px;
	padding-bottom: 10px;
}

td#probNavTaskArea {
	border: none;
	background: none;
	border-bottom: 1px solid rgb(194, 194, 194);
	box-shadow: none;
	border-top: none;
}

.nTopNavList li, .nBottomNavList li  {
	border: none;
	margin: 0;
	padding-top: 10px;
}

.nBottomNavList li, .nTopNavList li {
    display: inline-block;
 }

.nBottomNavList li  a, .nTopNavList li a {
	font-size: 17px;
	padding: 0 20px 0;
	position: relative;
	bottom: 5px;
}

.nBottomNavList li  a, .nTopNavList li a , A.tab:visited  {
	color: rgb(48, 72, 92);
	text-shadow: white 0 0 2px;
	padding-top: 10px;
}

.nBottomNavList li  a {
	text-shadow: rgba(255, 255, 255, 0.7) 0 1px;
}

div.nProbEmpty, div.nProbBad, div.nProbOk {
	border-radius: 5px 5px 0 0;
	border-top: 1px solid rgb(180, 186, 211);
	border-bottom: 1px solid rgb(160, 169, 177);
	border-right: 1px solid rgb(165, 162, 173);
	border-left: none;
	box-shadow: inset rgba(255, 255, 255, 0.68) 0 1px 0;
	padding-top: 10px;
	background: rgb(204,226,239); /* Old browsers */ 
	background: -moz-linear-gradient(top,  rgba(204,226,239,1) 0%, rgba(200,221,240,1) 15%, rgba(176,197,216,1) 65%, rgba(164,185,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,226,239,1)), color-stop(15%,rgba(200,221,240,1)), color-stop(65%,rgba(176,197,216,1)), color-stop(100%,rgba(164,185,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(204,226,239,1) 0%,rgba(200,221,240,1) 15%,rgba(176,197,216,1) 65%,rgba(164,185,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(204,226,239,1) 0%,rgba(200,221,240,1) 15%,rgba(176,197,216,1) 65%,rgba(164,185,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(204,226,239,1) 0%,rgba(200,221,240,1) 15%,rgba(176,197,216,1) 65%,rgba(164,185,204,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(204,226,239,1) 0%,rgba(200,221,240,1) 15%,rgba(176,197,216,1) 65%,rgba(164,185,204,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cce2ef', endColorstr='#a4b9cc',GradientType=0 ); /* IE6-9 */
}

div.nProbBad {
	background: rgb(235,195,198); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(235,195,198,1) 0%, rgba(237,190,189,1) 15%, rgba(211,169,169,1) 65%, rgba(199,158,157,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,195,198,1)), color-stop(15%,rgba(237,190,189,1)), color-stop(65%,rgba(211,169,169,1)), color-stop(100%,rgba(199,158,157,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(235,195,198,1) 0%,rgba(237,190,189,1) 15%,rgba(211,169,169,1) 65%,rgba(199,158,157,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(235,195,198,1) 0%,rgba(237,190,189,1) 15%,rgba(211,169,169,1) 65%,rgba(199,158,157,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(235,195,198,1) 0%,rgba(237,190,189,1) 15%,rgba(211,169,169,1) 65%,rgba(199,158,157,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(235,195,198,1) 0%,rgba(237,190,189,1) 15%,rgba(211,169,169,1) 65%,rgba(199,158,157,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebc3c6', endColorstr='#c79e9d',GradientType=0 ); /* IE6-9 */
	border: 1px solid rgb(186, 166, 166);
	border-left: none;
}

div.nProbBad  a{
	color: rgb(139, 60, 60) !important;
}

div.nProbOk {
	background: rgb(220,238,192); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(220,238,192,1) 0%, rgba(214,239,187,1) 15%, rgba(191,216,164,1) 65%, rgba(178,205,151,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(220,238,192,1)), color-stop(15%,rgba(214,239,187,1)), color-stop(65%,rgba(191,216,164,1)), color-stop(100%,rgba(178,205,151,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(220,238,192,1) 0%,rgba(214,239,187,1) 15%,rgba(191,216,164,1) 65%,rgba(178,205,151,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(220,238,192,1) 0%,rgba(214,239,187,1) 15%,rgba(191,216,164,1) 65%,rgba(178,205,151,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(220,238,192,1) 0%,rgba(214,239,187,1) 15%,rgba(191,216,164,1) 65%,rgba(178,205,151,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(220,238,192,1) 0%,rgba(214,239,187,1) 15%,rgba(191,216,164,1) 65%,rgba(178,205,151,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dceec0', endColorstr='#b2cd97',GradientType=0 ); /* IE6-9 */
}

.nBottomNavList div.nProbEmpty, .nBottomNavList div.nProbBad, .nBottomNavList div.nProbOk {
	border-radius: 0 0 5px 5px;
	border: 1px solid rgb(149, 163, 187);
	border-top: none;
	border-left: none;
	box-shadow: inset rgba(143, 143, 143, 0.52) 0 1px 0;
	background: rgb(209, 209, 209);
	background: rgb(190,212,225); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(190,212,225,1) 0%, rgba(184,205,224,1) 22%, rgba(165,186,205,1) 59%, rgba(149,170,189,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(190,212,225,1)), color-stop(22%,rgba(184,205,224,1)), color-stop(59%,rgba(165,186,205,1)), color-stop(100%,rgba(149,170,189,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(190,212,225,1) 0%,rgba(184,205,224,1) 22%,rgba(165,186,205,1) 59%,rgba(149,170,189,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(190,212,225,1) 0%,rgba(184,205,224,1) 22%,rgba(165,186,205,1) 59%,rgba(149,170,189,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(190,212,225,1) 0%,rgba(184,205,224,1) 22%,rgba(165,186,205,1) 59%,rgba(149,170,189,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(190,212,225,1) 0%,rgba(184,205,224,1) 22%,rgba(165,186,205,1) 59%,rgba(149,170,189,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bed4e1', endColorstr='#95aabd',GradientType=0 ); /* IE6-9 */
}

.nBottomNavList div.nProbBad {
	background: rgb(227,185,187); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(227,185,187,1) 0%, rgba(229,179,179,1) 15%, rgba(203,163,163,1) 65%, rgba(194,154,154,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(227,185,187,1)), color-stop(15%,rgba(229,179,179,1)), color-stop(65%,rgba(203,163,163,1)), color-stop(100%,rgba(194,154,154,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(227,185,187,1) 0%,rgba(229,179,179,1) 15%,rgba(203,163,163,1) 65%,rgba(194,154,154,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(227,185,187,1) 0%,rgba(229,179,179,1) 15%,rgba(203,163,163,1) 65%,rgba(194,154,154,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(227,185,187,1) 0%,rgba(229,179,179,1) 15%,rgba(203,163,163,1) 65%,rgba(194,154,154,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(227,185,187,1) 0%,rgba(229,179,179,1) 15%,rgba(203,163,163,1) 65%,rgba(194,154,154,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3b9bb', endColorstr='#c29a9a',GradientType=0 ); /* IE6-9 */
	border: 1px solid rgb(169, 158, 158);
	border-top: none;
	border-left: none;
}

.nBottomNavList div.nProbOk{
	background: rgb(215,236,182); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(215,236,182,1) 0%, rgba(208,237,177,1) 15%, rgba(185,212,156,1) 65%, rgba(173,202,144,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(215,236,182,1)), color-stop(15%,rgba(208,237,177,1)), color-stop(65%,rgba(185,212,156,1)), color-stop(100%,rgba(173,202,144,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(215,236,182,1) 0%,rgba(208,237,177,1) 15%,rgba(185,212,156,1) 65%,rgba(173,202,144,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(215,236,182,1) 0%,rgba(208,237,177,1) 15%,rgba(185,212,156,1) 65%,rgba(173,202,144,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(215,236,182,1) 0%,rgba(208,237,177,1) 15%,rgba(185,212,156,1) 65%,rgba(173,202,144,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(215,236,182,1) 0%,rgba(208,237,177,1) 15%,rgba(185,212,156,1) 65%,rgba(173,202,144,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7ecb6', endColorstr='#adca90',GradientType=0 ); /* IE6-9 */
}

table.probNav {
	width: 100%;
	margin-top: -39px;
}

#nTopNavSelected div.nProbCurrent {
	background: rgb(209, 209, 209);
	background: rgb(215,233,243); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(215,233,243,1) 0%, rgba(131,196,249,1) 4%, rgba(123,184,225,1) 66%, rgba(120,180,220,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(215,233,243,1)), color-stop(4%,rgba(131,196,249,1)), color-stop(66%,rgba(123,184,225,1)), color-stop(100%,rgba(120,180,220,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(215,233,243,1) 0%,rgba(131,196,249,1) 4%,rgba(123,184,225,1) 66%,rgba(120,180,220,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(215,233,243,1) 0%,rgba(131,196,249,1) 4%,rgba(123,184,225,1) 66%,rgba(120,180,220,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(215,233,243,1) 0%,rgba(131,196,249,1) 4%,rgba(123,184,225,1) 66%,rgba(120,180,220,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(215,233,243,1) 0%,rgba(131,196,249,1) 4%,rgba(123,184,225,1) 66%,rgba(120,180,220,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7e9f3', endColorstr='#78b4dc',GradientType=0 ); /* IE6-9 */
	padding-top: 15px;
	border: 1px solid rgba(66, 144, 163, 0.68);
	border-radius: 5px 5px 0 0;
}	

#nBottomNavSelected div.nProbCurrent {
	padding-top: 14px;
	background: rgb(141,195,239); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(141,195,239,1) 0%, rgba(131,183,217,1) 66%, rgba(128,178,212,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(141,195,239,1)), color-stop(66%,rgba(131,183,217,1)), color-stop(100%,rgba(128,178,212,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(141,195,239,1) 0%,rgba(131,183,217,1) 66%,rgba(128,178,212,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(141,195,239,1) 0%,rgba(131,183,217,1) 66%,rgba(128,178,212,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(141,195,239,1) 0%,rgba(131,183,217,1) 66%,rgba(128,178,212,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(141,195,239,1) 0%,rgba(131,183,217,1) 66%,rgba(128,178,212,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8dc3ef', endColorstr='#80b2d4',GradientType=0 ); /* IE6-9 */
	border: 1px solid rgba(66, 144, 163, 0.68);
	border-radius: 0 0 5px 5px;
}	

.nProbCurrent a {
	font-size: 18px !important;
} 

#nBottomNavSelected {
	border: none;
	padding-top: 14px;
	margin: 0;
	position: relative;
	top: 5px;
}

#nBottomNavSelected a {
	position: relative;
	bottom: 5px;
}

#nTopNavSelected {
	border: none;
	padding-top: 14px;
	margin: 0;
}

#nTopNavSelected a {
	position: relative;
	bottom: 10px;
	padding-top: 0px;
}

li .nProbEmpty:hover {
	/* background: rgba(0, 0, 0, 0.17); */
	background: #d1d1d1;
}

.nTopNavList div.nProbEmpty:hover {
	border: 1px solid rgb(165, 165, 165);
	border-left: none;
} 

.nBottomNavList div.nProbEmpty:hover{
	border: 1px solid rgb(165, 165, 165);
	border-top: none;
	border-left: none;
}

li .nProbBad:hover {
	/* background: rgba(171, 125, 125, 0.47); */
	background: #d4bfbf;
}

li .nProbOk:hover {
	/* background: rgba(148, 181, 130, 0.47); */
	background: #cadac2;
}

.nTopNavList li.first-rad .nProbEmpty, .nTopNavList li.first-rad .nProbCurrent {
	border-radius: 0 5px 0 0 !important;
}

.nBottomNavList li.first-rad .nProbEmpty, .nBottomNavList li.first-rad .nProbCurrent {
	border-radius: 0 0 5px 0 !important;
}

#probNavTaskArea pre {
	color: #555555;
	background: #dfdfdf;
    padding: 7px 10px;
	border: 1px solid #c7c7c7;
}

#l13 {
	padding-left: 0px;
	padding-right: 0px;
}

div.server_status_error, div.server_status_alarm, div.server_status_off, div.server_status_on {
	margin-left: 0px;
	margin-right: 0px;
	position: relative;
}

.m-25 div.server_status_error, .m-25 div.server_status_alarm, .m-25 div.server_status_off, .m-25 div.server_status_on {
	margin-left: -25px;
	margin-right: -25px;
}

/**************** TABLES ******************/

.table{
	margin: 10px 0 20px 0;
	border-collapse: collapse;
	box-shadow: rgba(209, 209, 209, 0.55) 0px 2px 12px 5px;
	background: rgba(255, 255, 255, 0.37);
	font-size: 14px;
}

.table th, .table td, table.standings th, table.standings td {
	padding: 3px 7px; 
}

.table th, .table .th, table.standings th {
	background: rgb(185,211,232); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(185,211,232,1) 0%, rgba(118,178,228,1) 4%, rgba(122,184,234,1) 33%, rgba(106,154,201,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(185,211,232,1)), color-stop(4%,rgba(118,178,228,1)), color-stop(33%,rgba(122,184,234,1)), color-stop(100%,rgba(106,154,201,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(185,211,232,1) 0%,rgba(118,178,228,1) 4%,rgba(122,184,234,1) 33%,rgba(106,154,201,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(185,211,232,1) 0%,rgba(118,178,228,1) 4%,rgba(122,184,234,1) 33%,rgba(106,154,201,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(185,211,232,1) 0%,rgba(118,178,228,1) 4%,rgba(122,184,234,1) 33%,rgba(106,154,201,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(185,211,232,1) 0%,rgba(118,178,228,1) 4%,rgba(122,184,234,1) 33%,rgba(106,154,201,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9d3e8', endColorstr='#6a9ac9',GradientType=0 ); /* IE6-9 */
	color: rgb(16, 35, 63);
	border: 1px solid rgb(56, 120, 189);
	text-shadow: rgb(146, 191, 230) 0px 1px 0px;
	font-weight: bold;
}

.table td {
	border: 1px solid rgb(151, 151, 151);
	background: rgba(255, 255, 255, 0.36);
	padding-top: 4px;
	padding-bottom: 4px;
}

.info-table-line {
	margin: 20px 0 5px 0;
	border-collapse: collapse;
	box-shadow: rgba(209, 209, 209, 0.55) 0px 2px 12px 5px;
}

.line-table-wb {
	margin: 10px 0 5px 0;
	border-collapse: collapse;
}

.info-table-line tr, .line-table-wb tr {
	border-bottom: 1px dotted rgba(191, 191, 191, 0.53);
}

.info-table-line tr:last-child, .line-table-wb tr:last-child {
	border-bottom: none;
}

.info-table-line td {
	background: rgba(255, 255, 255, 0.49);
	padding: 6px 15px;
}

.line-table-wb td {	
	padding: 4px 10px 5px 0;
	border: none;
	font-size: 15px;
}

.line-table-wb td b, .line-table-wb td tt {
	font-size: 15px;
}

.message-table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: -1px;
}

.message-table td {
	padding: 5px 10px 5px 30px;
	border: 1px solid rgb(154, 154, 154);
	border-left: none;
	border-right: none;
	font-size: 14px;
}

.message-table .mes-top td {
	border-right: 1px solid rgb(128, 128, 128);
	border-bottom: 1px solid rgb(128, 128, 128);
	border-top: 1px solid rgb(134, 134, 134);
	box-shadow: inset rgb(199, 199, 199) 0 1px 0;
	font-size: 12px;
	font-weight: bold;
	text-shadow: rgb(186, 186, 186) 0px 1px 0px;
	background: rgb(184,184,184); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(184,184,184,1) 1%, rgba(157,157,157,1) 92%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(184,184,184,1)), color-stop(92%,rgba(157,157,157,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(184,184,184,1) 1%,rgba(157,157,157,1) 92%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(184,184,184,1) 1%,rgba(157,157,157,1) 92%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(184,184,184,1) 1%,rgba(157,157,157,1) 92%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(184,184,184,1) 1%,rgba(157,157,157,1) 92%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8b8b8', endColorstr='#9d9d9d',GradientType=0 ); /* IE6-9 */
}

.message-table .mes-top td:last-child {
	border-right: none;
}

.message-table .profile {
	border-right: 1px solid rgb(154, 154, 154);
	font-size: 12px;
	vertical-align: top;
	width: 150px;
}

.message-table .profile b {
	font-size: 15px;
	margin-bottom: 7px;
	margin-top: 1em;
	display: inline-block;
}

.table-14 {
	margin-top: 7px;
	border-collapse: collapse;
}

.table-14 td, .table-14 td.b0 {
	font-size: 14px;
	padding: 1px 10px 0 0;
	border: none;
}

.message {
	margin: 15px 0;
	font-size: 13px;
}

table.standings {
	margin: 10px 0 20px 0;
	border-collapse: collapse;
	box-shadow: rgba(209, 209, 209, 0.55) 0px 2px 12px 5px;
	font-size: 14px;
}

table.standings th {
	font-size: 11px;
}

table.standings td {
	border: 1px solid rgb(151, 151, 151);
	padding-top: 4px;
	padding-bottom: 4px;
}

table.standings .userpic {
	width: 100px;
}

.green-tr td {
	background: #B9D8B9;
}

.red-tr td {
	background: rgb(231, 169, 156);
}

.yellow-tr td {
	background: #ffffdd;
}

.table-gray {
	margin: 10px 0 20px 0;
	border-collapse: collapse;
	font-size: 15px;
}

.table-gray tr {
	background: #eaeaea;
}

.table-gray tr:nth-child(odd){
	background: #dadada;
}

.table-gray th {
	background: #b5b5b5;
    padding: 5px 10px;
    border: 1px solid #616161;
}

.table-gray td {
	border: 1px solid #828282;
	padding: 5px 10px;
}

/**************** DIV PROB ******************/

div.probOk {
	background: url("grad_green_tab.jpg") repeat-x rgb(162, 193, 152);
	border-bottom: 1px solid #559154;
	border-top: 1px solid #339a2d;
	text-shadow: rgb(208, 238, 205) 0px 0px 4px;
	box-shadow: inset rgba(255, 255, 255, 0.44) 0 1px 5px;
	margin-top: -1px;
}	

div.probBad {
	background: url("grad_red.jpg") repeat-x rgb(223, 163, 152);
	border-bottom: 1px solid #d0745c;
	text-shadow: rgb(221, 212, 211) 0px 0px 4px;
}

div.probEmpty {
	background-color: #DFDFDF;
}

#probNavRightList {
	border-bottom: 1px solid rgb(194, 194, 194);
	border-left: 1px solid rgb(199, 199, 199);
	box-shadow: inset #dfdfdf 0 30px 0 0;
	padding-top: 30px;
}

/**************** USERPIC ******************/

.userpic img, .userpic-img {
    width: 90px;
    height: 90px;
    margin: 1px;
    border: 4px solid #fdfdfd;
    box-shadow: #c0c0c0 0 0 0 1px;
    vertical-align: middle;
}

.userpic-img-upage {
	margin: -5px 0 5px -15px;
}