xalloc.c
xcalloc.c
xexpand.c
xexpand2.c
xexpand3.c
xexpand4.c
xfree.c
xmalloc.c
xmemdup.c
xrealloc.c
xstrarrayfree.c
xstrdup.c
xstrmerge0.c
xstrmerge1.c
xstrmerge2.c
xstrmerge3.c
cdeps.c
hash.c
mempage.c
objs


