# This is language id registry. The id is assigned to each supported
# language. If the several languages has the same id, the latter
# has priority.
#
# Note: spaces around the `=' are not allowed.

fpc=1
gcc=2
g++=3
gpc=4
gcj=5
g77=6
gfortran=6
tpc=7
dcc=8
bcc=9
bpp=10
yabasic=11
mzscheme=12
python=13
perl=14
gprolog=15
qb=16
javac7=17
javac=18
mcs=19
vbnc=20
ruby=21
php=22
python3=23
kumir=24
make=25
ghc=26
fbc=27
gcc-vg=28
g++-vg=29
nasm-x86=50
clang=51
clang++=52
gccgo=53
make-vg=54
pasabc-linux=55
gcc-32=57
g++-32=58
fpc-32=59
fbc-32=60
clang-32=61
clang++-32=62
pypy=63
pypy3=64
kumir2=65
gas-32=66
gas=67
